.container{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 1000px;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.quadrado{
    width: 100px;
    height: 100px;
    font-size: 90px;
    text-align: center;
    background-color: rgb(31, 117, 139);
    color: black;
    border-radius: 10px;
}
.jogo{
   margin: 0 auto;
   border-radius: 10px;
}
.titulo{
    text-align: center;
}
.botao{
    background-color: rgb(31, 117, 139);
    color: white;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    font-size: 20px;
}